<nav class="navbar navbar-expand navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">WIB</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLink="/queue">Coda</a>
      <a class="nav-link" href="http://localhost:4200" target="_blank" rel="noopener">Devices</a>
    </div>
  </div>
  </nav>
<router-outlet></router-outlet>

